<section class="categories">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg7pt-5 text-left">
                <h1 class="pt-5">Choisir Une Categorie</h1>
                <ul>
                    <li id= roman> <a routerLink="/roman">Roman</a> </li>
                    <li id= Poésie><a routerLink="/poesie">Poésie</a></li>
                    <li id= Dictionnaire><a routerLink="/dictionnaire">Dictionnaire</a></li>
                    <li id= Documantaite><a routerLink="/documentaire">Documentaire</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
