<div class="livres container produit">

	<img src={{ListeLivres[3].image}}  class="picture-left">
  <div class="paragraph-right">
    <br>
    <h1>{{ListeLivres[3].titre}}</h1>
    <br>
    <h3>{{ListeLivres[3].auteur}}</h3>
    <br>
    <p>{{ListeLivres[3].description}}</p>
          <br>{{ListeLivres[3].niveau}}
          <br>
          {{ListeLivres[3].rabais}}
          <br>
          {{ListeLivres[3].prix}}
          <br>
          <br>
      <a href="monpanier.html" class="ajouter-panier" onclick="return ajouterAuPanier(3);">
          <button class="btn2 mt-3">Ajouter au panier</button>
      </a>
  </div>
</div>
