<div class="livres container produit">

	<img src={{ListeLivres[0].image}}  class="picture-left">
  <div class="paragraph-right">
    <br>
    <h1>{{ListeLivres[0].titre}}</h1>
    <br>
    <h3>{{ListeLivres[0].auteur}}</h3>
    <br>
    <p>{{ListeLivres[0].description}}</p>
          <br>{{ListeLivres[0].niveau}}
          <br>
          {{ListeLivres[0].rabais}}
          <br>
          {{ListeLivres[0].prix}}
    <br>
    <br>
      <a href="monpanier.html" class="ajouter-panier" onclick="return ajouterAuPanier(3);">
          <button class="btn1 mt-3">Ajouter au panier</button>
      </a>
  </div>
</div>
