
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo"> Club Ecole</a>
      <ul class="right hide-on-med-and-down">
        
        <li routerLinkActive="active"><a routerLink="/Catalogue"><i class="material-icons">Catalogue</i></a></li>
        <li routerLinkActive="active"><a routerLink="/Categories"><i class="material-icons">Categories</i></a></li>
        <li routerLinkActive="active"><a routerLink="/Profile"><i class="material-icons">Profile</i></a></li>
        <li routerLinkActive="active"><a routerLink="/Panier"><i class="material-icons">Panier<div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div></i></a></li>

      </ul>
    </div>

  </nav>