<div class="livres container produit">

	<img src={{ListeLivres[2].image}}  class="picture-left">
  <div class="paragraph-right">
    <br>
    <h1>{{ListeLivres[2].titre}}</h1>
    <br>
    <h3>{{ListeLivres[2].auteur}}</h3>
    <br>
    <p>{{ListeLivres[2].description}}</p>
          <br>{{ListeLivres[2].niveau}}
          <br>
          {{ListeLivres[2].rabais}}
          <br>
          {{ListeLivres[2].prix}}
    <br>
    <br>
      <a href="monpanier.html" class="ajouter-panier" onclick="return ajouterAuPanier(3);">
          <button class="btn1 mt-3">Ajouter au panier</button>
      </a>
  </div>
</div>
