{% extends "default.html" %} {% block content %}
<style>
    body {
        background: #eee;
    }
    .search-result .title h3 {
        margin: 0 0 15px;
        color: #333;
    }
    .search-result .title p {
        font-size: 12px;
        color: #333;
    }
    .well {
        border: 0;
        padding: 20px;
        min-height: 63px;
        background: #fff;
        box-shadow: none;
        border-radius: 3px;
        position: relative;
        max-height: 100000px;
        border-bottom: 2px solid #ccc;
        transition: max-height 0.5s ease;
        -o-transition: max-height 0.5s ease;
        -ms-transition: max-height 0.5s ease;
        -moz-transition: max-height 0.5s ease;
        -webkit-transition: max-height 0.5s ease;
        opacity: 0.85;
    }
    .form-control {
        height: 45px;
        padding: 10px;
        font-size: 16px;
        box-shadow: none;
        border-radius: 0;
        position: relative;
    }
    .social-feed-separated .social-feed-box {
        margin-left: 62px;
    }
    .social-feed-separated .social-avatar {
        float: left;
        padding: 0;
    }
    .social-feed-separated .social-avatar img {
        width: 52px;
        height: 52px;
        border: 1px solid #e7eaec;
    }
    .social-feed-separated .social-feed-box .social-avatar {
        padding: 15px 15px 0 15px;
        float: none;
    }
    .social-feed-box {
        /*padding: 15px;*/
        border: 1px solid #e7eaec;
        background: #fff;
        margin-bottom: 15px;
    }
    .article .social-feed-box {
        margin-bottom: 0;
        border-bottom: none;
    }
    .article .social-feed-box:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid #e7eaec;
    }
    .article .social-feed-box p {
        font-size: 13px;
        line-height: 18px;
    }
    .social-action {
        margin: 15px;
    }
    .social-avatar {
        padding: 15px 15px 0 15px;
    }
    .social-comment .social-comment {
        margin-left: 45px;
    }
    .social-avatar img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    .social-avatar .media-body a {
        font-size: 14px;
        display: block;
    }
    .social-body {
        padding: 15px;
    }
    .social-body img {
        margin-bottom: 10px;
    }
    .social-footer {
        border-top: 1px solid #e7eaec;
        padding: 10px 15px;
        background: #f9f9f9;
    }
    .social-footer .social-comment img {
        width: 32px;
        margin-right: 10px;
    }
    .social-comment:first-child {
        margin-top: 0;
    }
    .social-comment {
        margin-top: 15px;
    }
    .social-comment textarea {
        font-size: 12px;
    }
    .form-control,
    .single-line {
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }

    .ibox {
        clear: both;
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0;
    }
    .ibox.collapsed .ibox-content {
        display: none;
    }
    .ibox.collapsed .fa.fa-chevron-up:before {
        content: "\f078";
    }
    .ibox.collapsed .fa.fa-chevron-down:before {
        content: "\f077";
    }
    .ibox:after,
    .ibox:before {
        display: table;
    }
    .ibox-title {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 3px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 48px;
    }
    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }
    .ibox-footer {
        color: inherit;
        border-top: 1px solid #e7eaec;
        font-size: 90%;
        background: #ffffff;
        padding: 10px 15px;
    }
</style>
<section class="h-100 gradient-custom-2" style="background-image: url('img/home_background2.jpg'); height: 100vh;">
    <div class="fluid-container">
        <center>
            <nav class="navbar navbar-expand-lg navbar-dark justify-content-between fixed-top text-white" style="background-color: #220b36;">
                <a class="navbar-brand" href="#">
                    <img src="../img/combine.gif" width="51" height="8" class="d-inline-block" alt="" />
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fil d'actualité </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Demandes d'amis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                </ul>
                <form class="form-inline ml-auto" method="post" action="/profil">
                    <input class="form-control mr-sm-2" type="search" name="searchVal" placeholder="Recherche" aria-label="Search" />
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </nav>
        </center>
    </div>
    <br />
    <br />
    <br />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <div class="container bootstrap snippets bootdey">
        <hr />
        <ol class="breadcrumb">
            <li><a href="#">Page name</a></li>
            <li><a href="#">Search Results</a></li>
            <li class="pull-right">
                <a href="" class="text-muted"><i class="fa fa-refresh"></i></a>
            </li>
        </ol>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for item in data %}
                <div class="social-feed-box">
                    <div class="pull-right social-action dropdown">
                        <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu m-t-xs">
                            <li><a href="#">Config</a></li>
                        </ul>
                    </div>
                    <div class="social-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                        </a>
                        <div class="media-body">
                            <a href="#">
                                Andrew Williams
                            </a>
                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Packages and web page
                            editors now use Lorem Ipsum as their default model text.
                        </p>
                        <p>
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Packages and web page editors now use Lorem Ipsum as their default model text.
                        </p>
                        <img src="https://via.placeholder.com/650x280/FFB6C1/000000" class="img-responsive" />
                        <div class="btn-group">
                            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                        </div>
                    </div>
                    <div class="social-footer">
                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    Andrew Williams
                                </a>
                                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                                <br />
                                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                                <small class="text-muted">12.06.2014</small>
                            </div>
                        </div>
                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    Andrew Williams
                                </a>
                                Making this the first true generator on the Internet. It uses a dictionary of.
                                <br />
                                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                                <small class="text-muted">10.07.2014</small>
                            </div>
                        </div>
                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    Andrew Williams
                                </a>
                                Making this the first true generator on the Internet. It uses a dictionary of.
                                <br />
                                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                                <small class="text-muted">10.07.2014</small>
                            </div>
                        </div>
                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                            </a>
                            <div class="media-body">
                                <textarea class="form-control" placeholder="Write comment..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <button type="button" class="btn btn-info btn-block"><i class="glyphicon glyphicon-refresh"></i>Load more...</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}